<div class="col-lg-8">
  <div class="menus mt-3">
    <%= link_to "新しく観る", new_viewing_path,
      class: "btn btn-primary btn-sm mr-4",
      role: "button"
    %>
    <div class="continue mt-2">
      <small>観てる途中: </small><span class="video-title">レオン　完全版</span>
      <%= link_to "再開", room_path(1),
        class: "btn btn-primary btn-sm mr-4",
        role: "button"
      %>
    </div>
  </div>
  <div class="room-card mt-2 p-2" id="room-12">
    <div class="room-info">
      <span class="username px-1">testuser1</span>さん<br />
      <span class="video-title px-1">"レオン　完全版"</span>を視聴中<br />
      <span class="time">0:34:13</span>
      <span class="px-1">/</span>
      <span class="time">2:12:49</span>
    </div>
    <a href="rooms/1" class="btn btn-secondary btn-sm" role="button">一緒に観る</a>
  </div>
  <div class="room-card mt-2 p-2" id="room-23">
    <p class="room-info">
      <span class="username px-1">testuser2</span>さん<br />
      <span class="video-title px-1">"レディ・プレイヤー1"</span>を視聴中<br />
      <span class="time">0:54:10</span>
      <span class="px-1">/</span>
      <span class="time">2:19:53</span>
    </p>
    <a href="rooms/2" class="btn btn-secondary btn-sm" role="button">一緒に観る</a>
  </div>
  <div class="room-card mt-2 p-2" id="room-34">
    <p class="room-info">
      <span class="username px-1">testuser3</span>さん<br />
      <span class="video-title px-1">"ラ・ラ・ランド"</span>を視聴中<br />
      <span class="time">1:02:24</span>
      <span class="px-1">/</span>
      <span class="time">2:07:46</span>
    </p>
    <a href="rooms/3" class="btn btn-secondary btn-sm" role="button">一緒に観る</a>
  </div>
</div>
