<div class="col-lg-8">
  <div class="page-header mt-3">
    <h4><span class="username">testuser1</span>さんの部屋</h4>
  </div>
  <div class="viewing-info mt-3">
    <span class="video-title">"レオン　完全版"</span>を視聴中<br />
    <div class="progress" style="height: 3px;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span class="time">0:34:13</span>
    <span class="px-1">/</span>
    <span class="time">2:12:49</span><br />
    <small><a href="#">再生位置を変更する</a></small><br />
    <small>ずれちゃったら再生位置を変更して開き直してね</small><br />
    <a href="#" class="btn btn-primary" role="button">動画を開く</a>
    <div class="viewing-users mt-3">
      観てる人: <span class="user-count pr-1">1</span>人
    </div>
  </div>
  <div class="comment-area mt-3">
    <h4>コメント</h4>
    <form action="#" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm mr-1">
        <button type="submit" class="btn btn-primary">送信</button>
      </div>
    </form>
    <div class="comments">
      <ul>
        <li>
          <span class="comment-at">0:30:11</span>
          <span class="comment-content pr-2">やば</span>
          <span class="username">testuser1</span>
        </li>
        <li>
          <span class="comment-at">0:28:11</span>
          <span class="comment-content pr-2">クソワロ</span>
          <span class="username">testuser1</span>
        </li>
        <li>
          <span class="comment-at">0:27:11</span>
          <span class="comment-content pr-2">で、出たーっｗｗｗ</span>
          <span class="username">testuser1</span>
        </li>
      </ul>
    </div>
  </div>
</div>
